<!DOCTYPE html>
<header>
    <meta charset="UTF-8">
    <!--Linking our CSS-->
    <link rel="stylesheet" href="/stylesheets/styling.css">

</header>
    <body>
        <h1>Logged In!</h1>
        <a href="/"><button>Login Page</button></a>
    </body>
</html>