<!DOCTYPE html>
<header>
    <meta charset="UTF-8">
    <!--Linking our CSS-->
    <link rel="stylesheet" href="/stylesheets/styling.css">

</header>
    <body>
        <div class="container">
            <h1 class="title">LOGIN PAGE</h1>
            <label for="user">Username</label>
            <input id="user" class="textboxStyle" type="text">
            <label for="password">Password</label>
            <input id ="password" class="textboxStyle" type="text">
            <div class="buttons">
                <button class="buttonStyle" >LOGIN</button>
                <button class="buttonStyle" >SIGNUP</button>
            </div>
        </div>
        
    </body>
</html>