<!DOCTYPE html>
<header>
    <meta charset="UTF-8">
    <!--Linking our CSS-->
    <link rel="stylesheet" href="/stylesheets/styling.css">

</header>
    <body>

        <h1>Camiloooo</h1>
        
    </body>
</html>