<!DOCTYPE html>
<header>
    <meta charset="UTF-8">
    <!--Linking our CSS-->
    <link rel="stylesheet" href="/stylesheets/styling.css">
</header>
    <body>
        <div class="container">
            <h1 class="title">SIGNUP PAGE</h1>
            <!--FORM THAT WILL POST REQUESTS FOR SIGNUP.-->
            <form action="/post/added" method="POST">
                <label for="user">Username</label>
                <input class="textboxStyle" id="user" name="user" type="text">
                <label for="password">Password</label>
                <input class="textboxStyle" id ="password" name="password" type="text">
                <div class="buttons">
                    <button type="submit" class="buttonStyle" >SIGNUP</button>
                </div>
            </form>
        </div>
    </body>
</html>