<!DOCTYPE html>
<header>
    <meta charset="UTF-8">
    <!--Linking our CSS-->
    <link rel="stylesheet" href="/stylesheets/styling.css">

    <script src="/javascripts/login.js"></script>

</header>
    <body>
        <div class="container">
            <!--Onsubmit will check for if the fields are empty or not.-->
            <form id="login" onsubmit="return validateForm()" class="container" action="/post/login" method="POST">
            <h1 class="title">LOGIN PAGE</h1>
            <label for="user">Username</label>
            <input id="user" name="user" class="textboxStyle" type="text">
            <label for="password">Password</label>
            <input id ="password" name="password" class="textboxStyle" type="text">
            <div class="buttons">
                <button type ="submit" class= "buttonStyle">LOGIN</button>
                <a href="/home/signup"><button type ="button" class= "buttonStyle" >SIGNUP</button></a>
            </div>
            </form>
        </div>
    </body>
</html>
