body{
    background-color: rgba(32,33,36,1);
}

.container{
    background-color: silver;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 450px;
    border-radius: 10px;

}

label{
    color:black;
    font-size: 18px;
    font-weight: bold;
}

.textboxStyle{
    margin:15px;
    display:block;
    width: 170px;
    height: 35px;
    border-radius: 5px;
    padding:0px;
    font-size: 15px;
    border-style: none;
}

.title{
    color:black;
}


.buttonStyle{
    cursor:pointer;
    background-color: white;
    color:black;
    padding:0px;
    border-style: none;
    font-size: 15px;
    font-weight: bold;
    transition: opacity 0.1s;
    width: 170px;
    height: 35px;
    text-align: center;
    border-radius: 20px;
    display: block;
    margin:15px;
}

.buttonStyle:hover{
    opacity:.5;
}